h1 {
    text-shadow: 3px 2px aqua;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

th {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: lightgray;
}